In [ ]:
tuple(range(1,11))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [ ]:
a=[1,'anu',7,5]
for item in a:
  print(f' item is {item}')

 item is 1
 item is anu
 item is 7
 item is 5

In [ ]:
a=0
for num in range(1,15):
  a=a+num
print(f'sum is {a}')

sum is 105

In [ ]:
for item in range(1,11):
  if item%2==0:
    print(f'the even numbers are {item}')
print(f'the even numbers are {item}')

the even numbers are 2
the even numbers are 4
the even numbers are 6
the even numbers are 8
the even numbers are 10
the even numbers are 10

In [ ]:

for num in range(1,11):
  a=5*num
  print(f'the multiplication of 5 is 5 X {num} = {a}')

the multiplication of 5 is 5 X 1 = 5
the multiplication of 5 is 5 X 2 = 10
the multiplication of 5 is 5 X 3 = 15
the multiplication of 5 is 5 X 4 = 20
the multiplication of 5 is 5 X 5 = 25
the multiplication of 5 is 5 X 6 = 30
the multiplication of 5 is 5 X 7 = 35
the multiplication of 5 is 5 X 8 = 40
the multiplication of 5 is 5 X 9 = 45
the multiplication of 5 is 5 X 10 = 50

In [ ]:
for num in range (1,11):
  for i in range(1,11):
    a=num*i
    print(f'the multiplication table of {num} X {i}={a}')

the multiplication table of 1 X 1=1
the multiplication table of 1 X 2=2
the multiplication table of 1 X 3=3
the multiplication table of 1 X 4=4
the multiplication table of 1 X 5=5
the multiplication table of 1 X 6=6
the multiplication table of 1 X 7=7
the multiplication table of 1 X 8=8
the multiplication table of 1 X 9=9
the multiplication table of 1 X 10=10
the multiplication table of 2 X 1=2
the multiplication table of 2 X 2=4
the multiplication table of 2 X 3=6
the multiplication table of 2 X 4=8
the multiplication table of 2 X 5=10
the multiplication table of 2 X 6=12
the multiplication table of 2 X 7=14
the multiplication table of 2 X 8=16
the multiplication table of 2 X 9=18
the multiplication table of 2 X 10=20
the multiplication table of 3 X 1=3
the multiplication table of 3 X 2=6
the multiplication table of 3 X 3=9
the multiplication table of 3 X 4=12
the multiplication table of 3 X 5=15
the multiplication table of 3 X 6=18
the multiplication table of 3 X 7=21
the multiplication table of 3 X 8=24
the multiplication table of 3 X 9=27
the multiplication table of 3 X 10=30
the multiplication table of 4 X 1=4
the multiplication table of 4 X 2=8
the multiplication table of 4 X 3=12
the multiplication table of 4 X 4=16
the multiplication table of 4 X 5=20
the multiplication table of 4 X 6=24
the multiplication table of 4 X 7=28
the multiplication table of 4 X 8=32
the multiplication table of 4 X 9=36
the multiplication table of 4 X 10=40
the multiplication table of 5 X 1=5
the multiplication table of 5 X 2=10
the multiplication table of 5 X 3=15
the multiplication table of 5 X 4=20
the multiplication table of 5 X 5=25
the multiplication table of 5 X 6=30
the multiplication table of 5 X 7=35
the multiplication table of 5 X 8=40
the multiplication table of 5 X 9=45
the multiplication table of 5 X 10=50
the multiplication table of 6 X 1=6
the multiplication table of 6 X 2=12
the multiplication table of 6 X 3=18
the multiplication table of 6 X 4=24
the multiplication table of 6 X 5=30
the multiplication table of 6 X 6=36
the multiplication table of 6 X 7=42
the multiplication table of 6 X 8=48
the multiplication table of 6 X 9=54
the multiplication table of 6 X 10=60
the multiplication table of 7 X 1=7
the multiplication table of 7 X 2=14
the multiplication table of 7 X 3=21
the multiplication table of 7 X 4=28
the multiplication table of 7 X 5=35
the multiplication table of 7 X 6=42
the multiplication table of 7 X 7=49
the multiplication table of 7 X 8=56
the multiplication table of 7 X 9=63
the multiplication table of 7 X 10=70
the multiplication table of 8 X 1=8
the multiplication table of 8 X 2=16
the multiplication table of 8 X 3=24
the multiplication table of 8 X 4=32
the multiplication table of 8 X 5=40
the multiplication table of 8 X 6=48
the multiplication table of 8 X 7=56
the multiplication table of 8 X 8=64
the multiplication table of 8 X 9=72
the multiplication table of 8 X 10=80
the multiplication table of 9 X 1=9
the multiplication table of 9 X 2=18
the multiplication table of 9 X 3=27
the multiplication table of 9 X 4=36
the multiplication table of 9 X 5=45
the multiplication table of 9 X 6=54
the multiplication table of 9 X 7=63
the multiplication table of 9 X 8=72
the multiplication table of 9 X 9=81
the multiplication table of 9 X 10=90
the multiplication table of 10 X 1=10
the multiplication table of 10 X 2=20
the multiplication table of 10 X 3=30
the multiplication table of 10 X 4=40
the multiplication table of 10 X 5=50
the multiplication table of 10 X 6=60
the multiplication table of 10 X 7=70
the multiplication table of 10 X 8=80
the multiplication table of 10 X 9=90
the multiplication table of 10 X 10=100

In [ ]:
s='devika'
for item in s:
  print(f'the item is {item}')

the item is d
the item is e
the item is v
the item is i
the item is k
the item is a

In [ ]:
dictt={1:2,2:3,3:4}
type(dict)
for item in dictt.items():
  print(f'{item}')

(1, 2)
(2, 3)
(3, 4)

In [ ]:
s=['anu','appu','vava']
for item in s:
  print(f'the word is {item}')

the word is anu
the word is appu
the word is vava

In [ ]:
for num in range(1,50):
  if num%3==0:
    print(f'{num}')

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48

In [2]:
sum=0
for num in range(1,11):
  sum=sum+num
  a=len(range(1,11))
print(f'the sum is {sum} the avg is ', sum/a)

the sum is 55 the avg is  5.5